* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.container {
  max-width: 88%;
  margin: auto;
}

@media screen and (min-width: 640px) {
  .container {
    max-width: 93%;
    margin: auto;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1340px) {
  .container {
    max-width: 1140px;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.15rem 0;
}
nav .nav__medium {
  display: none;
}
nav .nav__right button {
  display: none;
}

nav .nav__left h3 {
  color: #000;
  font-size: 2rem;
  font-weight: 700;
}

.hero .hero__left h1 {
  color: #000;
  text-align: center;
  font-size: 4rem;
  font-weight: 800;
}
.hero .hero__left > p {
  color: #000;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  margin: 2.4rem 0 2.1rem;
}

.hero__left .hero__button button {
  color: rgba(0, 0, 0, 0.84);
  font-size: 1.2rem;
  font-weight: 500;
  width: 135px;
  height: 38px;
  border-radius: 30px;
  background: #ffcf23;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.hero__left p {
  color: #000;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 2rem 0 4.1rem;
}

.hero__right img {
  max-width: 100%;
  display: flex;
  margin: auto;
  margin-bottom: 2rem;
}

@media screen and (min-width: 640px) {
  .hero .hero__left h1 {
    max-width: 34.2rem;
    margin: auto;
  }
  .hero .hero__left > p {
    font-size: 1.8rem;
  }
  .hero__left {
    margin-bottom: 3.6rem;
  }
  .hero__left .hero__button {
    max-width: 60rem;
    display: flex;
    align-items: center;
    column-gap: 2rem;
    margin: auto;
    margin-top: 40px;
  }
  .hero__left .hero__button button {
    width: 165px;
    height: 38px;
  }
  .hero__left p {
    color: #000;
    font-weight: 300;
    margin: 0;
  }
  .hero__right img {
    max-width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 1024px) {
  nav .nav__medium {
    display: inline-block;
  }
  nav .nav__medium ul {
    display: flex;
    column-gap: 2.4rem;
  }
  nav .nav__medium ul a {
    color: #000;
    text-align: right;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.1px;
  }
  nav .nav__right button {
    display: inline-block;
    width: 114px;
    padding: 1.3rem 0;
    background-color: #000;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    border: none;
    border-radius: 30px;
  }
  nav .nav__right img {
    display: none;
  }
  .hero {
    padding: 32px 0;
  }
  .hero .hero__left h1 {
    max-width: 40rem;
    font-size: 50px;
  }
  .hero .hero__left > p {
    max-width: 63rem;
    font-size: 24px;
    margin: auto;
    margin-top: 2.4rem;
    margin-bottom: 2rem;
  }
  .hero__left .hero__button {
    margin-top: 2rem;
  }
}
@media screen and (min-width: 1340px) {
  .nav {
    max-width: 1300px;
    margin: auto;
  }
  .hero {
    display: flex;
    column-gap: 13rem;
    padding: 6.4rem 0;
    max-width: 1190px;
    margin: auto;
  }
  .hero .hero__left {
    width: 100rem;
    margin-top: 5rem;
  }
  .hero .hero__left h1 {
    max-width: 47rem;
    text-align: start;
    margin-left: 0;
  }
  .hero .hero__left p {
    text-align: start;
  }
  .hero__right img {
    max-width: 100%;
    height: 110%;
  }
  .hero__left .hero__button {
    margin-top: 4rem;
  }
}
.Recipes_fon {
  background-color: #F3F3F3;
  padding: 2rem 0;
}

.Recipes {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}
.Recipes .Recipes__data {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.Recipes .Recipes__data .Recipes__name {
  display: flex;
  column-gap: 16px;
  justify-content: center;
  align-items: center;
}
.Recipes .Recipes__data .Recipes__name .circle {
  display: inline-block;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #FFCF23;
}
.Recipes .Recipes__data .Recipes__name h4 {
  color: #000;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 155.556%;
}
.Recipes .Recipes__data p {
  color: #000;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.1px;
}

@media screen and (min-width: 1024px) {
  .Recipes {
    padding: 3.9rem 0;
    flex-direction: row;
    column-gap: 6.1rem;
  }
  .Recipes .Recipes__data .Recipes__name {
    justify-content: start;
  }
  .Recipes p {
    max-width: 27.9rem;
  }
}
@media screen and (min-width: 1240px) {
  .Recipes {
    padding: 6.4rem 0;
    flex-direction: row;
    column-gap: 3rem;
  }
  .Recipes .Recipes__data .Recipes__name {
    justify-content: start;
  }
  .Recipes p {
    max-width: 36rem;
  }
}
.mental_health_fon {
  background-color: #000;
  padding: 2.4rem 0;
}

.mental_health {
  color: #fff;
}
.mental_health .mental_health_left img {
  max-width: 100%;
}
.mental_health .mental_health_right h2 {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 133.333%;
  letter-spacing: -0.1px;
  margin-top: 1.4rem;
}
.mental_health .mental_health_right p {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.1px;
  margin: 14px 0;
}
.mental_health .mental_health_right p span {
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.mental_health_text {
  display: flex;
  justify-content: center;
}
.mental_health_text ul {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.mental_health_text ul li {
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
  row-gap: 8px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 171.429%;
  letter-spacing: 0.1px;
}
.mental_health_text ul li i {
  font-size: 0.8rem;
}

@media screen and (min-width: 1024px) {
  .mental_health_right {
    display: flex;
    column-gap: 12rem;
    padding: 6.4rem 0;
  }
  .mental_health_right .mental_health_info {
    max-width: 41.5rem;
  }
  .mental_health_right .mental_health_info h2 {
    margin-top: 0;
    text-align: start;
  }
  .mental_health_right .mental_health_info p {
    text-align: start;
  }
}
@media screen and (min-width: 1240px) {
  .mental_health {
    display: flex;
    column-gap: 13.3rem;
    padding: 9.6rem 0;
  }
  .mental_health_right {
    flex-direction: column;
    align-items: start;
    max-width: 55.3rem;
  }
  .mental_health_right .mental_health_info {
    max-width: 51.3rem;
  }
  .mental_health {
    color: #fff;
  }
  .mental_health .mental_health_left img {
    max-width: 50.3rem;
    height: 42.3rem;
  }
}
#customer__reviews {
  padding: 3.2rem 0;
}
#customer__reviews .thoughts {
  display: flex;
  max-width: 340px;
  height: 366px;
  padding: 24px;
  flex-direction: column;
  align-items: start;
  border-radius: 8px;
  background: #f3f3f3;
  margin: auto;
}
#customer__reviews .thoughts p {
  max-width: 27.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 155.556%;
  color: #000;
  margin-bottom: 5rem;
}
#customer__reviews .thoughts h4 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #000;
}
#customer__reviews .Jess,
#customer__reviews .David {
  display: none;
}

@media screen and (min-width: 640px) {
  #customer__reviews {
    display: flex;
    column-gap: 1.6rem;
  }
  #customer__reviews .Jess {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  #customer__reviews {
    position: relative;
    display: flex;
    max-width: 100%;
    z-index: 1;
    column-gap: 3rem;
    margin: auto;
    overflow-x: hidden;
    padding: 4.6rem 0;
  }
  #customer__reviews .thoughts {
    width: 32.1rem;
  }
  #customer__reviews .thoughts h4 {
    margin-top: 1rem;
  }
  #customer__reviews .Jess {
    display: block;
  }
  #customer__reviews .David {
    display: inline-block;
  }
  #customer__reviews .Patty p {
    width: 27rem;
  }
}
@media screen and (min-width: 1240px) {
  #customer__reviews {
    padding: 9.6rem 0;
    max-width: 114rem;
  }
  #customer__reviews .thoughts {
    width: 36rem;
  }
}
.VERSION__fon {
  padding: 19.2rem 0;
  width: 100%;
  background: url(../imgs/cta.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

.VERSION p {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #000;
}
.VERSION h2 {
  max-width: 32.8rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 200%;
  letter-spacing: -0.5px;
  color: #000;
  margin: auto;
  margin-top: 1.2rem;
  margin-bottom: 3.2rem;
}
.VERSION button {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.1px;
  padding: 8px 16px;
  display: flex;
  margin: auto;
  border-radius: 2.4rem;
  border: none;
}

@media screen and (min-width: 640px) {
  .VERSION h2 {
    max-width: 60rem;
    font-size: 3.4rem;
    line-height: 141.176%;
  }
}
@media screen and (min-width: 1024px) {
  .VERSION h2 {
    font-size: 40px;
    line-height: 120%;
  }
}
.footer__fon {
  background-color: #000;
}

.footer {
  color: #fff;
  padding: 5rem 0;
}
.footer h2 {
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2.5rem;
}

.footer_data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.footer_data .footer_info h3 {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.1px;
  margin-bottom: 1.6rem;
}
.footer_data .footer_info ul {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.footer_data .footer_info ul a {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 142.857%;
}

.Subscribe h3 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.1px;
  text-align: center;
  margin-bottom: 2.4rem;
}
.Subscribe .input {
  position: relative;
  max-width: 33.8rem;
  margin: auto;
}
.Subscribe .input input[type=email] {
  padding: 12px 54px 12px 2.4rem;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.15);
  border: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.1px;
  width: 100%;
}
.Subscribe .input i {
  position: absolute;
  font-size: 2.2rem;
  right: 2.4rem;
  top: 1.5rem;
}
.Subscribe p {
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 142.857%;
  opacity: 0.4;
  margin-top: 2rem;
}

@media screen and (min-width: 640px) {
  .footer {
    margin: auto;
  }
  .footer h2 {
    text-align: start;
  }
  .footer .general_data {
    display: flex;
    justify-content: space-between;
  }
  .footer_data {
    column-gap: 10rem;
  }
  .footer_data .footer_info ul {
    text-align: start;
  }
  .Subscribe {
    margin-bottom: 3rem;
  }
  .Subscribe h3 {
    text-align: start;
  }
  .Subscribe .input {
    position: relative;
    max-width: 21.8rem;
    margin: auto;
  }
  .Subscribe .input input[type=email] {
    width: 100%;
  }
  .Subscribe p {
    max-width: 21.8rem;
    text-align: start;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    margin: auto;
  }
  .footer h2 {
    margin-bottom: 4.8rem;
  }
  .footer_data {
    column-gap: 13rem;
  }
}
@media screen and (min-width: 1240px) {
  .footer {
    margin: auto;
    display: flex;
    column-gap: 10rem;
  }
  .footer h2 {
    margin-bottom: 4.8rem;
  }
  .footer_data {
    column-gap: 13rem;
  }
  .general_data {
    column-gap: 10rem;
  }
}

/*# sourceMappingURL=style.css.map */
