* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html {
  font-size: 10px;
}

a {
  text-decoration: none;
}

ul {
  li {
    list-style: none;
  }
}
.container {
  max-width: 88%;
  margin: auto;
}

@media screen and (min-width: 640px) {
  .container {
    max-width: 93%;
    margin: auto;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1240px) {
  .container {
    max-width: 1140px;
  }
}