.Recipes_fon {
  background-color: $background-section_1;
  padding: 2rem 0;
}

.Recipes {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  .Recipes__data {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    .Recipes__name {
      display: flex;
      column-gap: 16px;
      justify-content: center;
      align-items: center;
      .circle {
        display: inline-block;
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background-color: $background-button-section;
      }
      h4 {
        color: $color-p-h;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 155.556%;
      }
    }
    p {
      color: $color-p-h;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 0.1px;
    }
  }
}

@media screen and (min-width: 1024px) {
  
  .Recipes {
    padding: 3.9rem 0;
    flex-direction: row;
    column-gap: 6.1rem;
    .Recipes__data .Recipes__name {
      justify-content: start;
    }
    p {
      max-width: 27.9rem;
    }
  }
}
@media screen and (min-width: 1240px) {
    .Recipes {
        padding: 6.4rem 0;
        flex-direction: row;
        column-gap: 3rem;
        .Recipes__data .Recipes__name {
          justify-content: start;
        }
        p {
          max-width: 36rem;
        }
      }
}
